Busskort/Connected Services/BusskortServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64696/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusskortService" />
  <xs:element name="GetAnmälanList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnmälanListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusskortService" minOccurs="0" name="GetAnmälanListResult" nillable="true" type="q1:ArrayOfAnmälan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnmälan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnmälanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusskortService" minOccurs="0" name="GetAnmälanResult" nillable="true" type="q2:Anmälan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>