Busskort/Connected Services/BusskortServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusskortService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusskortService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAnmälan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Anmälan" nillable="true" type="tns:Anmälan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnmälan" nillable="true" type="tns:ArrayOfAnmälan" />
  <xs:complexType name="Anmälan">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beviljad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="E_post" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Efternamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Förnamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FörälderPersonnummer" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Motivering" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postnummer" type="xs:int" />
      <xs:element minOccurs="0" name="Skola" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" type="xs:int" />
      <xs:element minOccurs="0" name="barnEfternamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="barnFörnamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="barnPersonnummer" type="xs:int" />
      <xs:element minOccurs="0" name="Årskurs" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Anmälan" nillable="true" type="tns:Anmälan" />
  <xs:complexType name="AnmälanInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beviljad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="E_post" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Efternamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Förnamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Motivering" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postnummer" type="xs:int" />
      <xs:element minOccurs="0" name="Skola" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" type="xs:int" />
      <xs:element minOccurs="0" name="barnEfternamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="barnFörnamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="barnPersonnummer" type="xs:int" />
      <xs:element minOccurs="0" name="Årskurs" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnmälanInput" nillable="true" type="tns:AnmälanInput" />
</xs:schema>